{% extends "flights/layout.html" %}

{% block body %}
  <div class="container">
    <h1 class="main-title">Flight Index Page</h1>
    <br>
    <section>
      <table>
        <theader>
          <tr>
            <th>S/N</th>
            <th>ID</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Duration</th>
          </tr>
        </header>
        <tbody>
          {% for flight in flights %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url 'flights:flight' flight.id %}">{{ flight.id }}</a></td>
              <td><a href="{% url 'flights:airport' flight.origin.id %}">{{ flight.origin.city }}</a></td>
              <td>{{ flight.destination }}</td>
              <td>{{ flight.duration }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <br>
    <a href="{% url 'users:logout' %}">Log Out</a>
  </div>
{% endblock %}
